.name-label{
  left: 42px;
  top: -10px;
  position: absolute;
  z-index: 9;
  padding: 0 5px 0 5px;
  background: white;
  color: var(--blue-color);
}

.textarea {
  height: 126px;
  width: 256px !important;
  border: 2px solid var(--blue-color) !important;
  padding: 12px 0 0 12px;
  border-radius: 24px !important;
}

.input {
  width: 256px !important;
  padding-left: 12px;
  border: 2px solid var(--blue-color) !important;
  border-radius: 24px !important;
  height: 59px !important;
}

.btn-edit {
  font-size: 16px;
  color: var(--blue-color);
  background: rgba(0, 68, 170, 0.1);
  border-radius: 4px;
  border: 0;
  width: 117px;
}

.btn-update {
  width: 130px;
  height: 53px;
  color: white;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  background: #06B941;
  border-radius: 24px;
}

.button-save {
  font-weight: 500;
  font-size: 20px;
  width: 130px;
  height: 53px;
  color: white;
  border: 0;
  background: var(--blue-color);
  border-radius: 24px;
}

.button-cancel {
  font-weight: 500;
  font-size: 20px;
  width: 130px;
  height: 53px;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 24px;
  border: 0;
}

.blue-color {
  color: var(--blue-color);
}

.full-input {
  width: 97% !important;
}

.auto-filled label {
  color: #808080 !important;
}

.auto-filled input, .auto-filled input:focus {
  border: 2px solid #808080 !important;
  outline: none !important;
  background: none !important;
}

.auto-filled-inline {
  border-bottom: 2px solid #808080 !important;
}

.auto-filled-inline label, .auto-filled-inline input {
  color: #808080 !important;
  background: transparent !important;
}

.auto-filled select {
  border: 2px solid #808080 !important;
}

.border-bottom-blue {
  border-bottom: 2px solid var(--blue-color) !important;
}

input.border-0{
  outline: none !important;
}