:root {
  --red: #CC0606;
  --white: #FFFFFF;
  --blue: #0044AA;
}

.main input {
  width: 388px;
  padding-left: 40px;
  height: 50px;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.add-customer {
  background: #06B941 !important;
  border: #06B941 !important;
}

.export {
  background: var(--blue) !important;
  border: var(--blue) !important;
}

.bulk-pay {
  background: var(--red) !important;
  border: var(--red) !important;
}

thead {
  background: #f4f5f5;
}

.status {
  border-radius: 4px;
}

.search-icon {
  position: absolute; 
  margin-top: 15px
}

.loans__table--header {
  display: flex;
  justify-content: space-between;
   margin-bottom: 20px;
}

.action-btns {
  display: flex;
  gap: 15px;
}

@media only screen and (max-width: 1000px) {
  .loans__table--header {
    flex-direction: column;
  }

  .action-btns {
    margin-top: 20px;
  }

  .loans__table input {
    max-width: 100%;
  }
}

@media only screen and (max-width: 585px) {
  .p-footer {
    flex-direction: column;
  }
}
